In [2]:
import pandas as pd

In [3]:
enif = pd.read_csv("./TMODULO.csv", encoding='UTF-8')

In [4]:
enif.head()

,FOLIO,VIV_SEL,HOGAR,N_REN,P3_1_1,P3_1_2,P3_2,P3_3,P3_4,P3_5,...,P14_3_3,P14_4_3,P14_2_4,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
0,1,1,1,1,0,0,4,2,1,8,...,NaN,NaN,2,1,3,2,83,3,1,3807
1,2,2,1,1,3,3,6,2,1,1,...,NaN,NaN,2,1,3,2,33,3,1,1903
2,3,3,1,4,3,2,1,2,2,1,...,NaN,NaN,2,1,3,1,30,3,1,8897
3,4,4,1,1,2,6,3,2,2,5,...,NaN,NaN,2,1,3,2,64,3,1,5710
4,5,5,1,1,2,5,5,2,1,8,...,NaN,NaN,2,1,3,1,70,3,1,14236

In [5]:
enif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13554 entries, 0 to 13553
Columns: 382 entries, FOLIO to FAC_ELE
dtypes: float64(261), int64(121)
memory usage: 39.5 MB

In [6]:
enif.columns

Index(['FOLIO', 'VIV_SEL', 'HOGAR', 'N_REN', 'P3_1_1', 'P3_1_2', 'P3_2',
       'P3_3', 'P3_4', 'P3_5',
       ...
       'P14_3_3', 'P14_4_3', 'P14_2_4', 'TLOC', 'REGION', 'SEXO', 'EDAD',
       'EST_DIS', 'UPM_DIS', 'FAC_ELE'],
      dtype='object', length=382)

In [7]:
enif.SEXO.nunique()

2

In [8]:
enif_edad = enif[(enif.EDAD == 60) | (enif.EDAD == 61) | (enif.EDAD == 62) | (enif.EDAD == 63) | (enif.EDAD == 64) | (enif.EDAD == 65)]

In [9]:
enif_edad

,FOLIO,VIV_SEL,HOGAR,N_REN,P3_1_1,P3_1_2,P3_2,P3_3,P3_4,P3_5,...,P14_3_3,P14_4_3,P14_2_4,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3,4,4,1,1,2,6,3,2,2,5,...,NaN,NaN,2,1,3,2,64,3,1,5710
13,14,5,1,3,6,3,6,2,2,8,...,NaN,NaN,2,1,3,2,62,4,3,2272
26,26,3,1,1,9,3,3,2,2,1,...,NaN,NaN,2,1,3,2,63,5,6,2847
28,28,1,1,2,3,2,5,2,2,5,...,NaN,NaN,2,1,3,2,60,4,7,2324
30,30,3,1,1,2,6,5,2,2,6,...,NaN,NaN,2,1,3,1,65,4,7,3260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13506,13306,9,1,2,2,6,5,2,2,5,...,NaN,NaN,2,4,3,2,60,232,2011,2098
13517,13317,20,1,2,2,4,5,2,2,5,...,NaN,NaN,2,4,3,2,60,232,2011,2098
13544,13343,10,1,1,3,3,5,2,2,1,...,NaN,NaN,2,4,3,1,65,231,2013,2155
13549,13348,15,1,1,2,3,4,2,1,8,...,5.0,3.0,2,4,3,1,65,231,2013,1078
13550,13349,16,1,1,3,3,5,2,1,1,...,5.0,3.0,2,4,3,1,60,231,2013,2155

In [10]:
enif_edad.head()

,FOLIO,VIV_SEL,HOGAR,N_REN,P3_1_1,P3_1_2,P3_2,P3_3,P3_4,P3_5,...,P14_3_3,P14_4_3,P14_2_4,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3,4,4,1,1,2,6,3,2,2,5,...,NaN,NaN,2,1,3,2,64,3,1,5710
13,14,5,1,3,6,3,6,2,2,8,...,NaN,NaN,2,1,3,2,62,4,3,2272
26,26,3,1,1,9,3,3,2,2,1,...,NaN,NaN,2,1,3,2,63,5,6,2847
28,28,1,1,2,3,2,5,2,2,5,...,NaN,NaN,2,1,3,2,60,4,7,2324
30,30,3,1,1,2,6,5,2,2,6,...,NaN,NaN,2,1,3,1,65,4,7,3260

In [11]:
enif_reg = enif_edad[(enif_edad.REGION == 4)]
enif_reg

,FOLIO,VIV_SEL,HOGAR,N_REN,P3_1_1,P3_1_2,P3_2,P3_3,P3_4,P3_5,...,P14_3_3,P14_4_3,P14_2_4,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3285,3234,4,1,1,6,2,5,2,2,1,...,NaN,NaN,2,1,4,1,65,54,513,19788
3292,3241,1,1,2,8,4,5,2,2,6,...,NaN,NaN,2,1,4,2,65,55,515,10646
3299,3248,3,1,1,6,2,4,2,2,1,...,NaN,NaN,2,1,4,2,61,54,516,6176
3301,3250,5,1,2,8,4,5,2,2,1,...,NaN,NaN,2,1,4,2,62,54,516,12352
3305,3254,4,1,1,2,6,5,2,2,8,...,NaN,NaN,2,1,4,1,65,54,517,13156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4154,4094,3,1,1,2,6,4,2,2,5,...,NaN,NaN,2,1,4,1,62,53,708,2986
4168,4108,8,1,1,6,3,5,2,2,1,...,NaN,NaN,2,4,4,1,62,52,711,2646
4169,4109,9,1,1,2,3,2,2,2,1,...,NaN,NaN,2,4,4,2,65,52,711,862
4171,4111,1,1,1,3,2,6,2,2,8,...,NaN,NaN,2,4,4,2,63,52,712,919
4173,4113,3,1,1,2,6,5,2,2,8,...,NaN,NaN,2,4,4,1,63,52,712,1879

In [12]:
# P9_8_1. 9.8 En su vejez, ¿piensa cubrir sus gastos con lo que reciba de los apoyos del gobierno para personas adultas mayores?

In [13]:
enif_reg.columns

Index(['FOLIO', 'VIV_SEL', 'HOGAR', 'N_REN', 'P3_1_1', 'P3_1_2', 'P3_2',
       'P3_3', 'P3_4', 'P3_5',
       ...
       'P14_3_3', 'P14_4_3', 'P14_2_4', 'TLOC', 'REGION', 'SEXO', 'EDAD',
       'EST_DIS', 'UPM_DIS', 'FAC_ELE'],
      dtype='object', length=382)

In [14]:
#enif_reg.drop(columns=['HOGAR', 'N_REN'], inplace=True)

In [15]:
#enif_reg.drop(columns=['FOLIO','HOGAR'], inplace=True)

In [16]:
enif_reg.shape

(93, 382)

In [17]:
enif_reg.isnull().sum()

FOLIO      0
VIV_SEL    0
HOGAR      0
N_REN      0
P3_1_1     0
          ..
SEXO       0
EDAD       0
EST_DIS    0
UPM_DIS    0
FAC_ELE    0
Length: 382, dtype: int64

In [18]:
#enif_reg.iloc[:,1:290]

In [19]:
enif_rango = enif_reg.iloc[:,309:]

In [20]:
enif_rango

,P9_3,P9_4,P9_5,P9_6,P9_7,P9_8_1,P9_8_2,P9_8_3,P9_8_4,P9_8_5,...,P14_3_3,P14_4_3,P14_2_4,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3285,5.0,2.0,6.0,1.0,NaN,1,1,2,2,2,...,NaN,NaN,2,1,4,1,65,54,513,19788
3292,NaN,NaN,NaN,NaN,NaN,2,1,2,2,2,...,NaN,NaN,2,1,4,2,65,55,515,10646
3299,NaN,NaN,NaN,NaN,NaN,2,2,2,1,1,...,NaN,NaN,2,1,4,2,61,54,516,6176
3301,NaN,NaN,NaN,NaN,NaN,2,1,2,1,1,...,NaN,NaN,2,1,4,2,62,54,516,12352
3305,NaN,NaN,NaN,NaN,NaN,1,2,2,1,2,...,NaN,NaN,2,1,4,1,65,54,517,13156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4154,5.0,2.0,5.0,2.0,5.0,1,1,1,2,1,...,NaN,NaN,2,1,4,1,62,53,708,2986
4168,NaN,NaN,NaN,NaN,NaN,1,1,2,2,1,...,NaN,NaN,2,4,4,1,62,52,711,2646
4169,5.0,2.0,1.0,3.0,NaN,1,1,2,2,1,...,NaN,NaN,2,4,4,2,65,52,711,862
4171,NaN,NaN,NaN,NaN,NaN,1,1,2,2,1,...,NaN,NaN,2,4,4,2,63,52,712,919
4173,NaN,NaN,NaN,NaN,NaN,1,1,2,2,2,...,NaN,NaN,2,4,4,1,63,52,712,1879

In [21]:
enif_rango.columns

Index(['P9_3', 'P9_4', 'P9_5', 'P9_6', 'P9_7', 'P9_8_1', 'P9_8_2', 'P9_8_3',
       'P9_8_4', 'P9_8_5', 'P9_8_6', 'P10_1', 'P10_2', 'P10_3_1', 'P10_3_2',
       'P10_4', 'P10_5', 'P10_6_1', 'P10_6_2', 'P10_7', 'P10_8', 'P10_9_1',
       'P10_9_2', 'P11_1_1', 'P11_1_2', 'P11_1_3', 'P11_1_4', 'P11_1_5',
       'P11_2_1', 'P11_2_2', 'P11_2_3', 'P11_2_4', 'P11_3_1', 'P11_3_2',
       'P11_3_3', 'P11_3_4', 'P11_3_9', 'P11_4', 'P12_1', 'P12_2_1', 'P12_2_2',
       'P12_2_3', 'P12_3_1', 'P12_3_2', 'P12_3_3', 'P12_3_4', 'P12_3_5',
       'P12_3_6', 'P12_3_7', 'P12_3_8', 'P12_4', 'P13_1', 'P13_2', 'P13_3',
       'P13_4', 'P14_1', 'P14_2_1', 'P14_3_1', 'P14_4_1', 'P14_2_2', 'P14_3_2',
       'P14_4_2', 'P14_2_3', 'P14_3_3', 'P14_4_3', 'P14_2_4', 'TLOC', 'REGION',
       'SEXO', 'EDAD', 'EST_DIS', 'UPM_DIS', 'FAC_ELE'],
      dtype='object')

In [22]:
enif_rango.drop(columns=['P10_1', 'P10_2', 'P10_3_1', 'P10_3_2',
       'P10_4', 'P10_5', 'P10_6_1', 'P10_6_2', 'P10_7', 'P10_8', 'P10_9_1',
       'P10_9_2', 'P11_1_1', 'P11_1_2', 'P11_1_3', 'P11_1_4', 'P11_1_5',
       'P11_2_1', 'P11_2_2', 'P11_2_3', 'P11_2_4', 'P11_3_1', 'P11_3_2',
       'P11_3_3', 'P11_3_4', 'P11_3_9', 'P11_4', 'P12_1', 'P12_2_1', 'P12_2_2',
       'P12_2_3', 'P12_3_1', 'P12_3_2', 'P12_3_3', 'P12_3_4', 'P12_3_5',
       'P12_3_6', 'P12_3_7', 'P12_3_8', 'P12_4', 'P13_1', 'P13_2', 'P13_3',
       'P13_4', 'P14_1', 'P14_2_1', 'P14_3_1', 'P14_4_1', 'P14_2_2', 'P14_3_2',
       'P14_4_2', 'P14_2_3', 'P14_3_3', 'P14_4_3', 'P14_2_4'], axis=1, inplace=True)

In [23]:
enif_rango

,P9_3,P9_4,P9_5,P9_6,P9_7,P9_8_1,P9_8_2,P9_8_3,P9_8_4,P9_8_5,P9_8_6,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3285,5.0,2.0,6.0,1.0,NaN,1,1,2,2,2,2,1,4,1,65,54,513,19788
3292,NaN,NaN,NaN,NaN,NaN,2,1,2,2,2,2,1,4,2,65,55,515,10646
3299,NaN,NaN,NaN,NaN,NaN,2,2,2,1,1,2,1,4,2,61,54,516,6176
3301,NaN,NaN,NaN,NaN,NaN,2,1,2,1,1,2,1,4,2,62,54,516,12352
3305,NaN,NaN,NaN,NaN,NaN,1,2,2,1,2,2,1,4,1,65,54,517,13156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4154,5.0,2.0,5.0,2.0,5.0,1,1,1,2,1,2,1,4,1,62,53,708,2986
4168,NaN,NaN,NaN,NaN,NaN,1,1,2,2,1,2,4,4,1,62,52,711,2646
4169,5.0,2.0,1.0,3.0,NaN,1,1,2,2,1,2,4,4,2,65,52,711,862
4171,NaN,NaN,NaN,NaN,NaN,1,1,2,2,1,2,4,4,2,63,52,712,919
4173,NaN,NaN,NaN,NaN,NaN,1,1,2,2,2,2,4,4,1,63,52,712,1879

In [24]:
enif_rango.columns

Index(['P9_3', 'P9_4', 'P9_5', 'P9_6', 'P9_7', 'P9_8_1', 'P9_8_2', 'P9_8_3',
       'P9_8_4', 'P9_8_5', 'P9_8_6', 'TLOC', 'REGION', 'SEXO', 'EDAD',
       'EST_DIS', 'UPM_DIS', 'FAC_ELE'],
      dtype='object')

In [25]:
enif_rango.drop(columns=['P9_3', 'P9_4', 'P9_5', 'P9_6', 'P9_7',], inplace=True)

In [26]:
enif_rango

,P9_8_1,P9_8_2,P9_8_3,P9_8_4,P9_8_5,P9_8_6,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3285,1,1,2,2,2,2,1,4,1,65,54,513,19788
3292,2,1,2,2,2,2,1,4,2,65,55,515,10646
3299,2,2,2,1,1,2,1,4,2,61,54,516,6176
3301,2,1,2,1,1,2,1,4,2,62,54,516,12352
3305,1,2,2,1,2,2,1,4,1,65,54,517,13156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4154,1,1,1,2,1,2,1,4,1,62,53,708,2986
4168,1,1,2,2,1,2,4,4,1,62,52,711,2646
4169,1,1,2,2,1,2,4,4,2,65,52,711,862
4171,1,1,2,2,1,2,4,4,2,63,52,712,919
4173,1,1,2,2,2,2,4,4,1,63,52,712,1879

In [27]:
enif_rango.columns[0:5].tolist()

['P9_8_1', 'P9_8_2', 'P9_8_3', 'P9_8_4', 'P9_8_5']

In [28]:
enif_rango.columns[6:13].tolist()

['TLOC', 'REGION', 'SEXO', 'EDAD', 'EST_DIS', 'UPM_DIS', 'FAC_ELE']

In [29]:
enif_rango

,P9_8_1,P9_8_2,P9_8_3,P9_8_4,P9_8_5,P9_8_6,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3285,1,1,2,2,2,2,1,4,1,65,54,513,19788
3292,2,1,2,2,2,2,1,4,2,65,55,515,10646
3299,2,2,2,1,1,2,1,4,2,61,54,516,6176
3301,2,1,2,1,1,2,1,4,2,62,54,516,12352
3305,1,2,2,1,2,2,1,4,1,65,54,517,13156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4154,1,1,1,2,1,2,1,4,1,62,53,708,2986
4168,1,1,2,2,1,2,4,4,1,62,52,711,2646
4169,1,1,2,2,1,2,4,4,2,65,52,711,862
4171,1,1,2,2,1,2,4,4,2,63,52,712,919
4173,1,1,2,2,2,2,4,4,1,63,52,712,1879

In [30]:
enif_rango[enif_rango["P9_8_5"]==2]

,P9_8_1,P9_8_2,P9_8_3,P9_8_4,P9_8_5,P9_8_6,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
3285,1,1,2,2,2,2,1,4,1,65,54,513,19788
3292,2,1,2,2,2,2,1,4,2,65,55,515,10646
3305,1,2,2,1,2,2,1,4,1,65,54,517,13156
3326,1,2,2,1,2,2,1,4,2,60,54,521,10967
3361,1,1,2,1,2,2,1,4,2,63,55,529,7360
3384,1,2,2,1,2,2,1,4,2,64,54,535,3336
3385,1,1,2,1,2,2,1,4,2,62,54,535,16679
3395,1,1,2,1,2,2,1,4,2,64,55,537,10643
3398,2,1,2,1,2,2,1,4,2,60,55,538,9906
3402,1,2,2,2,2,2,1,4,2,61,53,539,9534
3481,2,1,2,2,2,2,1,4,1,63,55,557,10992
3489,1,2,2,1,2,2,1,4,1,61,54,559,10628
3524,9,9,2,2,2,2,1,4,1,60,54,567,3527
3526,1,1,2,1,2,2,1,4,2,63,54,567,13797
3546,1,1,2,2,2,2,1,4,1,60,53,571,3105
3645,1,1,2,2,2,2,1,4,2,63,55,593,9527
3651,1,2,2,1,2,2,1,4,2,63,54,594,12461
3655,1,1,2,1,2,2,1,4,2,64,54,596,7907
3780,1,2,2,1,2,2,1,4,2,65,53,622,12720
3796,1,2,2,1,2,2,1,4,2,62,54,625,8558
3799,2,1,2,2,2,2,1,4,2,64,53,626,6386
3805,2,1,2,2,2,2,1,4,1,60,54,627,22150
3816,1,2,2,1,2,2,1,4,2,62,54,630,6401
3825,2,1,2,2,2,2,1,4,1,60,54,631,6161
3837,2,1,2,1,2,2,1,4,2,61,55,635,7589
3847,1,2,2,1,2,2,1,4,2,60,54,637,6216
3886,2,1,2,1,2,2,1,4,2,62,53,646,12727
3909,2,2,2,1,2,2,1,4,2,65,54,651,4972
3974,2,1,2,2,2,2,1,4,1,62,54,666,22296
3995,1,1,2,2,2,2,1,4,2,65,55,672,13552
4019,1,1,2,2,2,2,1,4,2,64,54,678,7197
4043,2,2,2,2,2,2,1,4,1,61,54,683,8570
4056,2,1,2,2,2,2,1,4,1,64,54,686,5914
4063,1,9,1,2,2,2,1,4,1,60,53,687,4923
4075,2,2,2,2,2,2,1,4,2,61,53,690,7294
4077,2,2,2,1,2,2,1,4,1,64,53,691,8148
4090,2,2,1,1,2,2,1,4,2,62,54,694,6606
4109,2,1,2,2,2,2,1,4,2,60,54,698,5818
4173,1,1,2,2,2,2,4,4,1,63,52,712,1879

In [31]:
enif_num=enif_rango.groupby("P9_8_1").sum()
enif_num

,P9_8_2,P9_8_3,P9_8_4,P9_8_5,P9_8_6,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
P9_8_1,,,,,,,,,,,,
1,99,110,100,80,116,70,232,87,3617,3117,34884,431015
2,50,67,55,50,68,34,136,51,2110,1837,21211,315132
9,9,2,2,2,2,1,4,1,60,54,567,3527

In [32]:
import altair as alt

In [33]:
enif_rango.groupby("P9_8_2").sum()

,P9_8_1,P9_8_3,P9_8_4,P9_8_5,P9_8_6,TLOC,REGION,SEXO,EDAD,EST_DIS,UPM_DIS,FAC_ELE
P9_8_2,,,,,,,,,,,,
1,67,95,95,71,98,61,196,74,3046,2640,30064,394169
2,57,79,56,56,82,41,164,61,2560,2207,24688,343939
9,11,5,6,5,6,3,12,4,181,161,1910,11566

In [34]:
enif_rango.columns

Index(['P9_8_1', 'P9_8_2', 'P9_8_3', 'P9_8_4', 'P9_8_5', 'P9_8_6', 'TLOC',
       'REGION', 'SEXO', 'EDAD', 'EST_DIS', 'UPM_DIS', 'FAC_ELE'],
      dtype='object')

In [35]:
enif_rango_melt = enif_rango.melt(
  id_vars= enif_rango.columns[:6],
  value_vars=enif_rango.columns[6:]
)

enif_rango_melt

     P9_8_1  P9_8_2  P9_8_3  P9_8_4  P9_8_5  P9_8_6 variable  value
0         1       1       2       2       2       2     TLOC      1
1         2       1       2       2       2       2     TLOC      1
2         2       2       2       1       1       2     TLOC      1
3         2       1       2       1       1       2     TLOC      1
4         1       2       2       1       2       2     TLOC      1
..      ...     ...     ...     ...     ...     ...      ...    ...
646       1       1       1       2       1       2  FAC_ELE   2986
647       1       1       2       2       1       2  FAC_ELE   2646
648       1       1       2       2       1       2  FAC_ELE    862
649       1       1       2       2       1       2  FAC_ELE    919
650       1       1       2       2       2       2  FAC_ELE   1879

[651 rows x 8 columns]

In [36]:
enif_rango_melt

     P9_8_1  P9_8_2  P9_8_3  P9_8_4  P9_8_5  P9_8_6 variable  value
0         1       1       2       2       2       2     TLOC      1
1         2       1       2       2       2       2     TLOC      1
2         2       2       2       1       1       2     TLOC      1
3         2       1       2       1       1       2     TLOC      1
4         1       2       2       1       2       2     TLOC      1
..      ...     ...     ...     ...     ...     ...      ...    ...
646       1       1       1       2       1       2  FAC_ELE   2986
647       1       1       2       2       1       2  FAC_ELE   2646
648       1       1       2       2       1       2  FAC_ELE    862
649       1       1       2       2       1       2  FAC_ELE    919
650       1       1       2       2       2       2  FAC_ELE   1879

[651 rows x 8 columns]

In [37]:
enif_rango_melt

     P9_8_1  P9_8_2  P9_8_3  P9_8_4  P9_8_5  P9_8_6 variable  value
0         1       1       2       2       2       2     TLOC      1
1         2       1       2       2       2       2     TLOC      1
2         2       2       2       1       1       2     TLOC      1
3         2       1       2       1       1       2     TLOC      1
4         1       2       2       1       2       2     TLOC      1
..      ...     ...     ...     ...     ...     ...      ...    ...
646       1       1       1       2       1       2  FAC_ELE   2986
647       1       1       2       2       1       2  FAC_ELE   2646
648       1       1       2       2       1       2  FAC_ELE    862
649       1       1       2       2       1       2  FAC_ELE    919
650       1       1       2       2       2       2  FAC_ELE   1879

[651 rows x 8 columns]

In [38]:
import altair as alt

In [39]:
alt.Chart(enif_rango_melt).mark_bar().encode(
    alt.X("P9_8_1:Q", bin=True),
    y='count()',
    tooltip='count(variable)'
)

alt.Chart(...)

In [40]:
d = pd.DataFrame()

for col in enif_rango.columns[:6]:
  temp = enif_rango.groupby(col).sum().reset_index()
  temp.insert(0, 'id_pregunta',col)
  temp.rename(columns={col:'r_pregunta'}, inplace=True)
  temp = temp[['id_pregunta', 'r_pregunta', 'FAC_ELE']]
  d = pd.concat([d, temp])

d

  id_pregunta  r_pregunta  FAC_ELE
0      P9_8_1           1   431015
1      P9_8_1           2   315132
2      P9_8_1           9     3527
0      P9_8_2           1   394169
1      P9_8_2           2   343939
2      P9_8_2           9    11566
0      P9_8_3           1    36945
1      P9_8_3           2   712729
0      P9_8_4           1   324932
1      P9_8_4           2   419309
2      P9_8_4           9     5433
0      P9_8_5           1   379638
1      P9_8_5           2   370036
0      P9_8_6           2   749674

In [41]:
d

  id_pregunta  r_pregunta  FAC_ELE
0      P9_8_1           1   431015
1      P9_8_1           2   315132
2      P9_8_1           9     3527
0      P9_8_2           1   394169
1      P9_8_2           2   343939
2      P9_8_2           9    11566
0      P9_8_3           1    36945
1      P9_8_3           2   712729
0      P9_8_4           1   324932
1      P9_8_4           2   419309
2      P9_8_4           9     5433
0      P9_8_5           1   379638
1      P9_8_5           2   370036
0      P9_8_6           2   749674

In [42]:
alt.Chart(d).mark_bar().encode(
  x='id_pregunta',
  y='FAC_ELE',
  color='r_pregunta:N',
  tooltip='FAC_ELE'
)

alt.Chart(...)

In [43]:
#d.to_csv('enif_FACele_6065.csv')