In [1]:
import pandas as pd

In [2]:
fec = pd.read_excel("./cpv2020_b_eum_02_fecundidad.xlsx", sheet_name=2,  header=5,)

In [3]:
fec

,Entidad federativa,Grupos quinquenales de edad,Población femenina de 12 años y más,Número de hijas e hijos nacidos vivos,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Hijas e hijos nacidos vivos2,Unnamed: 19
0,NaN,NaN,NaN,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13 y más,No especificado1,Total,Promedio3
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estados Unidos Mexicanos,Total,51962264.0,16665736.0,7038077.0,10162181.0,8309429.0,3903572.0,2026294.0,1221615.0,792906.0,588801.0,397708.0,304176.0,173457.0,154236.0,156049,68027,108232191,2.08563
3,Estados Unidos Mexicanos,12-14 años,3229273.0,3211118.0,5067.0,1414.0,598.0,108.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,10968,10121,0.003145
4,Estados Unidos Mexicanos,15-19 años,5344540.0,4798250.0,462793.0,63362.0,6268.0,1045.0,316.0,142.0,64.0,582.0,2.0,0.0,0.0,0.0,0,11716,620055,0.116271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,32 Zacatecas,85 años y más,9273.0,849.0,259.0,229.0,332.0,393.0,525.0,610.0,749.0,873.0,895.0,933.0,724.0,778.0,1122,2,72817,7.854277
563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,1 Comprende a las mujeres que no especificaron...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,2 Excluye a las mujeres que no especificaron s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,3 Es la relación del total de hijas e hijos na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
fec["Grupos quinquenales de edad"].unique()

array([nan, 'Total', '12-14 años', '15-19 años', '20-24 años',
       '25-29 años', '30-34 años', '35-39 años', '40-44 años',
       '45-49 años', '50-54 años', '55-59 años', '60-64 años',
       '65-69 años', '70-74 años', '75-79 años', '80-84 años',
       '85 años y más'], dtype=object)

In [5]:
fec_edad = fec[fec["Grupos quinquenales de edad"]=='30-34 años']

In [6]:
fec_edad

,Entidad federativa,Grupos quinquenales de edad,Población femenina de 12 años y más,Número de hijas e hijos nacidos vivos,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Hijas e hijos nacidos vivos2,Unnamed: 19
7,Estados Unidos Mexicanos,30-34 años,4893101.0,1073650.0,986175.0,1477326.0,938011.0,285872.0,83830.0,27364.0,9387.0,3955.0,1221.0,491.0,161.0,119.0,91,5448,8599611,1.759456
24,01 Aguascalientes,30-34 años,55174.0,11901.0,9411.0,15387.0,12579.0,4404.0,1124.0,248.0,61.0,24.0,4.0,5.0,1.0,0.0,0,25,103362,1.874232
41,02 Baja California,30-34 años,150225.0,33154.0,31009.0,44347.0,29601.0,8562.0,2240.0,681.0,176.0,78.0,20.0,9.0,6.0,8.0,3,331,260374,1.737054
58,03 Baja California Sur,30-34 años,33126.0,6602.0,6985.0,10598.0,6555.0,1735.0,454.0,109.0,27.0,10.0,2.0,2.0,1.0,0.0,0,46,58028,1.754172
75,04 Campeche,30-34 años,38152.0,7936.0,7865.0,11967.0,7096.0,2158.0,668.0,281.0,100.0,37.0,16.0,8.0,0.0,0.0,0,20,67965,1.782361
92,05 Coahuila de Zaragoza,30-34 años,113447.0,19582.0,20202.0,34307.0,27520.0,8503.0,2310.0,634.0,202.0,58.0,14.0,2.0,3.0,1.0,2,107,222844,1.966155
109,06 Colima,30-34 años,29748.0,6268.0,6617.0,9328.0,5573.0,1410.0,372.0,117.0,26.0,14.0,5.0,2.0,0.0,1.0,0,15,50565,1.700636
126,07 Chiapas,30-34 años,211284.0,36277.0,34250.0,57547.0,41883.0,20507.0,10333.0,5520.0,2739.0,1319.0,498.0,203.0,59.0,39.0,18,92,479404,2.269991
143,08 Chihuahua,30-34 años,139995.0,24189.0,26306.0,43737.0,31652.0,9801.0,2832.0,898.0,276.0,108.0,32.0,14.0,6.0,4.0,2,138,270853,1.936642
160,09 Ciudad de México,30-34 años,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0,2,402,429306,1.130464
177,10 Durango,30-34 años,66294.0,10307.0,10920.0,19500.0,16815.0,6000.0,1762.0,613.0,199.0,80.0,24.0,12.0,0.0,1.0,1,60,139247,2.102349
194,11 Guanajuato,30-34 años,243969.0,53077.0,47352.0,73339.0,49911.0,14903.0,3764.0,968.0,252.0,93.0,24.0,8.0,5.0,4.0,4,265,430987,1.768486
211,12 Guerrero,30-34 años,128332.0,21248.0,23547.0,36695.0,28143.0,11503.0,4408.0,1647.0,656.0,295.0,83.0,39.0,11.0,8.0,0,49,267606,2.08606
228,13 Hidalgo,30-34 años,121520.0,20741.0,25070.0,42997.0,24438.0,6201.0,1476.0,376.0,96.0,34.0,9.0,5.0,0.0,0.0,2,75,219935,1.810984
245,14 Jalisco,30-34 años,326089.0,80984.0,61723.0,88804.0,64523.0,21284.0,5888.0,1711.0,482.0,190.0,61.0,23.0,8.0,6.0,6,396,563684,1.730722
262,15 México,30-34 años,668246.0,149157.0,141159.0,212501.0,121661.0,31659.0,7776.0,2035.0,537.0,200.0,51.0,19.0,2.0,4.0,12,1473,1115148,1.672455
279,16 Michoacán de Ocampo,30-34 años,182326.0,34882.0,33531.0,55456.0,40765.0,12478.0,3504.0,1063.0,325.0,131.0,44.0,20.0,1.0,4.0,4,118,344585,1.891163
296,17 Morelos,30-34 años,75434.0,15766.0,16029.0,25234.0,13582.0,3516.0,915.0,232.0,69.0,17.0,4.0,1.0,3.0,0.0,3,63,128027,1.698624
313,18 Nayarit,30-34 años,46587.0,7312.0,8909.0,15106.0,10541.0,3215.0,982.0,311.0,117.0,42.0,10.0,4.0,3.0,0.0,1,34,91711,1.970034
330,19 Nuevo León,30-34 años,221419.0,51586.0,44994.0,66377.0,42651.0,11881.0,2638.0,572.0,128.0,59.0,10.0,5.0,4.0,1.0,4,509,371488,1.681626
347,20 Oaxaca,30-34 años,156355.0,28039.0,31477.0,49768.0,30574.0,10551.0,3749.0,1309.0,509.0,192.0,59.0,19.0,8.0,5.0,2,94,297535,1.90409
364,21 Puebla,30-34 años,254709.0,49077.0,48751.0,78410.0,53954.0,17033.0,5038.0,1574.0,470.0,167.0,53.0,13.0,8.0,6.0,5,150,475675,1.868624
381,22 Querétaro,30-34 años,100283.0,27451.0,21285.0,28696.0,16525.0,4667.0,1186.0,270.0,66.0,35.0,8.0,3.0,1.0,1.0,1,88,155359,1.550566
398,23 Quintana Roo,30-34 años,87085.0,21602.0,19246.0,26219.0,14287.0,3891.0,1103.0,357.0,92.0,47.0,13.0,4.0,3.0,0.0,2,219,139018,1.600373
415,24 San Luis Potosí,30-34 años,107534.0,21626.0,22018.0,33445.0,21316.0,6771.0,1658.0,415.0,105.0,36.0,14.0,6.0,2.0,0.0,1,121,191964,1.787158
432,25 Sinaloa,30-34 años,110211.0,18219.0,23558.0,35981.0,24010.0,6126.0,1561.0,458.0,133.0,66.0,30.0,10.0,0.0,2.0,3,54,204517,1.856596
449,26 Sonora,30-34 años,107549.0,19091.0,21340.0,33455.0,23777.0,7015.0,1916.0,595.0,161.0,56.0,9.0,4.0,3.0,1.0,2,124,202561,1.885604
466,27 Tabasco,30-34 años,95760.0,18327.0,18508.0,29157.0,19926.0,6488.0,2167.0,748.0,262.0,95.0,26.0,10.0,4.0,3.0,1,38,180899,1.889837
483,28 Tamaulipas,30-34 años,131557.0,24706.0,27256.0,40405.0,27542.0,8311.0,2315.0,641.0,195.0,68.0,17.0,8.0,4.0,1.0,1,87,241577,1.837507
500,29 Tlaxcala,30-34 años,51128.0,8801.0,10268.0,17824.0,10741.0,2708.0,549.0,163.0,34.0,11.0,1.0,0.0,2.0,1.0,0,25,93063,1.821087
517,30 Veracruz de Ignacio de la Llave,30-34 años,304712.0,57980.0,69798.0,102988.0,51931.0,15053.0,4523.0,1535.0,498.0,198.0,53.0,21.0,6.0,8.0,5,115,529601,1.738694
534,31 Yucatán,30-34 años,93832.0,23342.0,20104.0,29148.0,15343.0,4001.0,1173.0,401.0,153.0,49.0,10.0,6.0,3.0,4.0,2,93,150431,1.604786
551,32 Zacatecas,30-34 años,60856.0,10180.0,10218.0,18778.0,14793.0,4973.0,1354.0,376.0,112.0,34.0,8.0,3.0,1.0,2.0,2,22,122292,2.010257

In [7]:
fec_cd = fec_edad[fec_edad["Entidad federativa"]=="09 Ciudad de México"]

In [8]:
fec_cd

,Entidad federativa,Grupos quinquenales de edad,Población femenina de 12 años y más,Número de hijas e hijos nacidos vivos,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Hijas e hijos nacidos vivos2,Unnamed: 19
160,09 Ciudad de México,30-34 años,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0,2,402,429306,1.130464

In [9]:
fec_cd.columns

Index(['Entidad federativa', 'Grupos quinquenales de edad',
       'Población femenina de 12 años y más',
       'Número de hijas e hijos nacidos vivos', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Hijas e hijos nacidos vivos2', 'Unnamed: 19'],
      dtype='object')

In [10]:
fec_cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 160 to 160
Data columns (total 20 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Entidad federativa                     1 non-null      object
 1   Grupos quinquenales de edad            1 non-null      object
 2   Población femenina de 12 años y más    1 non-null      float64
 3   Número de hijas e hijos nacidos vivos  1 non-null      float64
 4   Unnamed: 4                             1 non-null      float64
 5   Unnamed: 5                             1 non-null      float64
 6   Unnamed: 6                             1 non-null      float64
 7   Unnamed: 7                             1 non-null      float64
 8   Unnamed: 8                             1 non-null      float64
 9   Unnamed: 9                             1 non-null      float64
 10  Unnamed: 10                            1 non-null      float64
 11  Unnamed: 11                            1 non-null      float64
 12  Unnamed: 12                            1 non-null      float64
 13  Unnamed: 13                            1 non-null      float64
 14  Unnamed: 14                            1 non-null      float64
 15  Unnamed: 15                            1 non-null      float64
 16  Unnamed: 16                            1 non-null      object
 17  Unnamed: 17                            1 non-null      object
 18  Hijas e hijos nacidos vivos2           1 non-null      object
 19  Unnamed: 19                            1 non-null      object
dtypes: float64(14), object(6)
memory usage: 168.0+ bytes

In [11]:
fec_cd

,Entidad federativa,Grupos quinquenales de edad,Población femenina de 12 años y más,Número de hijas e hijos nacidos vivos,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Hijas e hijos nacidos vivos2,Unnamed: 19
160,09 Ciudad de México,30-34 años,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0,2,402,429306,1.130464

In [12]:
fec_cd.drop(columns=["Entidad federativa","Grupos quinquenales de edad"], inplace=True)

C:\Users\cynhe\AppData\Local\Temp\ipykernel_30656\3589520719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fec_cd.drop(columns=["Entidad federativa","Grupos quinquenales de edad"], inplace=True)

In [13]:
fec_cd

,Población femenina de 12 años y más,Número de hijas e hijos nacidos vivos,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Hijas e hijos nacidos vivos2,Unnamed: 19
160,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0,2,402,429306,1.130464

In [14]:
fec_cd.mean(axis=1)

160    66090.72947
dtype: float64

In [15]:
fec_cd.describe()

,Población femenina de 12 años y más,Número de hijas e hijos nacidos vivos,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0
25%,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0
50%,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0
75%,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0
max,380163.0,154240.0,86469.0,89825.0,37803.0,8564.0,2092.0,506.0,129.0,112.0,9.0,3.0,3.0,4.0

In [16]:
#fec_cd.columns[:4].tolist()

In [17]:
#fec_cd.columns[18:].tolist()

In [18]:
#fec_piv=fec_cd.set_index(fec_cd.columns[:4].tolist()).stack().reset_index()
#fec_piv